SITE_ID=cf
LAB_ID=test
TARGET_DIR=/data/lims2/cf-test

# CONFIG_DIR = $TARGET_DIR/config
# LOG_DIR = $TARGET_DIR/logs

# NGINX_CONFIG_DIR = 
# NGINX_LOG_DIR

LIMS2_DIR=/data/github/lims2

ENABLE_MYSQL=1
ENABLE_SPHINX=0

# MYSQL_DIR=$TARGET_DIR/mysql
# MYSQL_CONFIG_DIR=$CONFIG_DIR/mysql
# MYSQL_LOG_DIR=$LOG_DIR/mysql

# SPHINX_DIR=$TARGET_DIR/sphinxsearch
# SPHINX_CONFIG_DIR=$CONFIG_DIR/mysql
# SPHINX_LOG_DIR=$LOG_DIR/mysql


