SITE_ID=cf
LAB_ID=test
TARGET_DIR=/data/lims2/cf-test

ENABLE_MYSQL=1
ENABLE_SPHINX=0

LIMS2_DIR=/data/github/lims2

# MYSQL_DIR=$TARGET_DIR/mysql
# SPHINX_DIR=$TARGET_DIR/sphinxsearch

# MYSQL_CONFIG_DIR
# MYSQL_LOG_DIR
# NGINX_CONFIG_DIR
# NGINX_LOG_DIR
# SPHINX_CONFIG_DIR
# SPHINX_LOG_DIR